// フォントサイズと色の規定

// Font Size
$baseFont: 18px;
$font12: 12px;
$font16: 16px;
$font18: 18px;
$font20: 20px;
$font24: 24px;
$font32: 32px;
$font36: 36px;
$font40: 40px;
$font48: 48px;


// Font Color



// Color
$colorWhite : #ffffff;
$colorOffWhite: #f5f5f5;
$colorDarkGreen: #6b9080;
$colorMiddleGreen: #a4c3b2;
$colorLightGreen: #cce3de;
$colorOffBlack: #313131;